{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block navigator %}
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#">首页&nbsp;&nbsp;   </a></li>
        <li><a href="{{ url_for('edit_shop', shop_id=message.shop_id) }}">基本信息&nbsp;&nbsp;   </a></li>
        <li><a href="{{ url_for('dishes', shop_id=message.shop_id) }}">菜品管理&nbsp;&nbsp;   </a></li>
        <li><a href="#">订单管理&nbsp; &nbsp;  </a></li>
        <li><a href="{{ url_for('index') }}">返回上一层&nbsp; &nbsp;  </a></li>
    </ul>
{% endblock %}


{% block content %}

    <h3>{{ message.shop_name }}</h3>
    <p>
        <small class="text-muted">评分：{{ message.shop_rate }}</small>
    </p>
    <p>
        <small class="text-muted">店铺状态：{{ message.shop_status }}</small>
    </p>
    <p>
        简介：<br />{{ message.shop_info }}
    </p>

{% endblock %}
