{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block content %}
    <div class="Link">
        <a href="{{ url_for('index') }}" title="Go to index page">Index</a>
    </div>
    <div class="Text">
        <p>ID: {{ user.user_id }}</p>
    </div>
    <div class="Text">
        <p>E-mail: {{ user.email }}</p>
    </div>
    <div class="password-form">
        {{ render_form(password_form, action=request.full_path) }}
    </div>
    <div class="name-form">
        {{ render_form(name_form, action=request.full_path) }}
    </div>
    <div class="contact-form">
        {{ render_form(contact_form, action=request.full_path) }}
    </div>
    <div class="Text">
        <p>Available Balance: {{ user.available_balance }}</p>
    </div>
    <div class="Text">
        <p>Frozen Balance: {{ user.frozen_balance }}</p>
    </div>
    <div class="deposit-form">
        {{ render_form(deposit_form, action=request.full_path) }}
    </div>
    <div class="withdraw-form">
        {{ render_form(withdraw_form, action=request.full_path) }}
    </div>
    <h5>{{ bookmarks | length }} bookmark(s) in total</h5>
    <div class="shop list">
        {% for shop in bookmarks %}
            <a class="shop info" href="{{ url_for('view_shop', shop_id=shop.shop_id) }}">
                <div class="shop header">
                    <h5 class="shop name">{{ shop.shop_name }}
                        <small class="shop id">#{{ shop.shop_id }}</small>
                    </h5>
                </div>
                <p class="shop location">Location: {{ shop.shop_location }} {{ shop.shop_location_detail }}</p>
                {% if shop.shop_rate_number %}
                    <p class="shop rate">Rating: {{ (shop.shop_rate_total / shop.shop_rate_number) | round(2) }}</p>
                {% else %}
                    <p class="shop rate">Rating: No Data</p>
                {% endif %}
            </a>
        {% endfor %}
    </div>
{% endblock %}
