{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block content %}
    <div class="Text">
        <p>{{ welcome }}</p>
    </div>
    <div class="Link">
        <a href="{{ url_for('login') }}" title="Go to login page">Login</a>
    </div>
    <div class="Link">
        <a href="{{ url_for('register') }}" title="Go to register page">Register</a>
    </div>
    <div class="Link">
        <a href="{{ url_for('personal_center') }}" title="Go to personal center page">Personal Center</a>
    </div>
    <div class="logout-form">{{ render_form(logout_form, action=request.full_path) }}</div>
    <div class="Link">
        <a href="{{ url_for('index') }}">Index</a>
        <a href="{{ url_for('location', location='Student_Center') }}">Student Center</a>
        <a href="{{ url_for('location', location='Shaw_College') }}">Shaw College</a>
        <a href="{{ url_for('location', location='Deligentia_College') }}">Deligentia College</a>
        <a href="{{ url_for('location', location='Le_Tian_Building') }}">Le Tian Building</a>
    </div>
    <div class="Text">
        <p>Shop ID: {{ shop.shop_id }}</p>
        <p>Shop Name: {{ shop.shop_name }}</p>
        {% if shop.shop_rate_number %}
            <p>Rating: {{ (shop.shop_rate_total / shop.shop_rate_number) | round(2) }} ({{ shop.shop_rate_number }} votes)</p>
        {% else %}
            <p class="shop rate">Rating: No Data</p>
        {% endif %}
        <p>Location: {{ shop.shop_location }} {{ shop.shop_location_detail }}</p>
        <p>Delivery Fee: {{ shop.shop_delivery_fee }}</p>
        <p>Contact: {{ shop.shop_contact }}</p>
        <p>License Number: {{ shop.shop_license_number }}</p>
        <p>Description: {{ shop.shop_info }}</p>
    </div>
    <div class="add-bookmark-form">{{ render_form(add_bookmark_form, action=request.full_path) }}</div>
    <div class="delete-bookmark-form">{{ render_form(delete_bookmark_form, action=request.full_path) }}</div>
    <h5>{{ products | length }} product(s) in total</h5>
    <div class="products">
        {% for product in products %}
            <a class="product info" href="{{ url_for('view_product', product_id=product.product_id) }}">
                <div class="product header">
                    <h5 class="product name">{{ product.product_name }}
                        <small class="total sale">total sale: {{ product.total_sale }}</small>
                    </h5>
                </div>
                <p class="product price">{{ product.product_price }} RMB</p>
            </a>
        {% endfor %}
    </div>
{% endblock %}
